.dog
{
    color: blue;
    font-size: 70;
    text-align: center;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid;
    border-radius: 50px;
    background-color:rgb(105, 105, 241);
    padding: 2%;
}
#cat
{
    color: rgb(222, 222, 240);
    font-size: 70;
    text-align: center;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid;
    border-radius: 50px;
    background-color:rgb(54, 223, 138);
    padding: 2%;
}
.p
{
font-size: 50;
text-align: center;
color: rgb(80, 152, 246);
}